* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    background-color: white;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar li {
    display: inline-block;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 20px;
    padding: 30px;
    background-color: white;
}

.card-list h2 {
    font-size: 20px;
    color: #FD9E00;
}

.card-list-option li {
    margin: 20px;
    font-size: 20px;
}

.card-1 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    width: 55%;
    background-color: white;
}

.card-1 h2 {
    color: #FD9E00;
    font-size: 30px;
}

.p-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
}

.cover-1 {
    border-radius: 20px;
    margin-top: 20px;
}

.cover-p {
    margin: 20px 0 30px 0;
}

.btn {
    background-color: #FD6E00;
    color: white;
    padding: 15px;
    font-size: 25px;
    border-radius: 20px;
    text-align: start;
    cursor: pointer;
}