* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.logo {
    margin: 20px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar li {
    display: inline-block;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 20px;
    padding: 30px;
    background-color: white;
}

.card-list h2 {
    font-size: 20px;
    color: #FD9E00;
}

.card-list-option li {
    margin: 20px;
    font-size: 20px;
}

.card-1 {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}

.heading-1 h1 {
    color: #FD9E00;
    font-size: 30px;
}

.span-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}