* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.logo {
    margin: 20px;
}

ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: inline-block;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
